
<div>
  <button (click)="showDragAndDrop = true">Drag and drop</button>
  <button (click)="showDragAndDrop = false" >JSON</button>
</div>
<p>Aprovados {{ aprovados.length }} </p>
<p>Reprovados {{ reprovados.length }} </p>
<div class="container2" *ngIf="showDragAndDrop">
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Reprovados</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="reprovados"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        (cdkDropListEntered)="enter($event)">
        <div class="example-box" *ngFor="let item of reprovados" cdkDrag>{{item.nome}}</div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Aprovados</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="aprovados"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        (cdkDropListEntered)="enter($event)">
        <div class="example-box" *ngFor="let item of aprovados" cdkDrag>{{item.nome}}</div>
      </div>
    </div>


  </div>
  
</div>



<div class="container"  *ngIf="!showDragAndDrop">
  <div class="list">
    <h5>Lista complesta</h5>
    <pre>{{ pessoas | json }}</pre>
  </div>
  <div class="list">
    <h5>Lista de aprovados (pipe)</h5>
    <pre>{{ pessoas | filtrarPeloStatus : 'aprovado' | json }}</pre>
  </div>
  <div class="list">
    <h5>Lista de reprovados (pipe)</h5>
    <pre>{{ pessoas | filtrarPeloStatus : 'reprovado' | json }}</pre>
  </div>

  <div class="list">
    <h4>Contagem</h4>
    <p>{{ pessoas.length }}</p>
    <h4>Aprovados</h4>
    <p>{{ filtrarPeloStatus('aprovado').length }}</p>
    <h4>Reprovados</h4>
    <p>{{ filtrarPeloStatus('reprovado').length }}</p>
  </div>

  <div class="list">
    <h4>Lista de nomes</h4>
    <pre> {{ listaDeNomes() | json }} </pre>
  </div>

  <div class="list">
    <h4>Lista de nomes com id</h4>
    <pre> {{ listaDeNomesComId() | json }} </pre>
  </div>

  <div class="list">
    <h4>Filtrar pelo nome</h4>
    <input type="text" name="" id="" [(ngModel)]="value" />
    <p>{{ value }}</p>
    <pre> {{ filtrarPeloNome(value) | json }} </pre>
  </div>
</div>
